.header {
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (min-width: 700px) {
  .header {
    font-size: 32px;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    font-size: 40px;
    letter-spacing: 6px;
  }
}
