.profiles {
  display: flex;
  flex-direction: column;
  color: #34495E;
  width: 75%;
  margin-bottom: 15px;
}

@media screen and (min-width: 700px) {
  .profiles {
    flex-direction: row-reverse;
    width: auto;
  }
}

@media screen and (min-width: 1000px) {
  .profiles {
    flex-direction: row;
  }
}

.profile-wrapper {
  flex: 1;
  justify-content: center;
  border-radius: 5px;
  margin: 10px 15px;
  color: #5DADE2;
  box-shadow: 8px 10px #CACFD2;
}

.profile-wrapper:nth-of-type(odd) {
  background: linear-gradient(#E6B0AA, #F2D7D5, #F9EBEA);
}

.profile-wrapper:nth-of-type(even) {
  background: linear-gradient(#FAD7A0, #FDEBD0, #FEF5E7);
}

.profile-pic {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  border: 1px solid #dddddd;
  margin-top: 20px;
}

.profile-heading {
  font-size: 28px;
  text-align: center;
}

.profile-header {
  color: #5D6D7E;
  text-align: center;
}

.profile-repositories {
  margin-left: 20px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #616A6B;
}

a:hover {
  color: #7FB3D5;
  background-color: #EAECEE;
}

li {
  text-decoration: none;
  color: #5D6D7E;
  font-size: 18px;
  margin-left: 5px;
}
