.profiles {
  display: flex;
  flex-direction: column;
  color: #34495E;
  width: 75%;
}

@media screen and (min-width: 600px) {
  .profiles {
    flex-direction: row;
  }
}

.profile-wrapper {
  flex: 1;
  justify-content: center;
  background-color: #FCF3CF;
  border-radius: 5px;
  margin: 10px 15px;
  color: ##5DADE2;
}

.profile-wrapper:nth-of-type(odd) {
  background: #FCF3CF;
}

.profile-wrapper:nth-of-type(even) {
  background: #FEF9E7;
}

.profile-pic {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  border: 1px solid #dddddd;
  margin-top: 20px;
}

.profile-heading {
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

.profile-header {
  color: #5D6D7E;
  text-align: center;
}

.profile-repositories {
  margin-left: 20px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #616A6B;
}

a:hover {
  color: #7FB3D5;
  background-color: #EAECEE;
}

li {
  text-decoration: none;
  color: #5D6D7E;
}
