@font-face {
  font-family: 'JosefinSlab';
  src: local('JosefinSlab'), url(./assets/JosefinSlab-Light.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
